@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto";

  src: url("../fonts/roboto.woff2");
  src: local("roboto"), local("roboto"),
  url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-dark: #666666;
  --basic-green: #00ca74;
  --basic-grey: #eeeeee;
  --basic-grey-dark: #4d4d4d;
  --basic-red: #fb565a;
  --basic-white: #ffffff;
  --basic-yellow: #efc84a;
  --green-active: #00aa62;
  --green-hover: #00bc6c;
  --grey-active: #d5d5d5;
  --grey-hover: #dfdfdf;
  --red-active: #d7373b;
  --red-hover: #e74246;
  --special-grey: #e1e1e1;
  --yellow-active: #e5a722;
  --yellow-hover: #eab534;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: normal;
  font-family: "Roboto", Arial, sans-serif;
  color: var(--basic-black);
}

.page a {
  text-decoration: none;
}

.page ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  align-content: start;
  min-height: 100%;

  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows:         min-content 1fr min-content;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.header {
  background-color: var(--basic-grey);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  padding: 49px 0px 0;
}

.main-logo:active {
  opacity: 30%;
}

.navigation-list {
  display: flex;
}

.navigation-item {
  position: relative;

  margin-right: 45px;
  padding-top: 12px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.cart {
  position: relative;

  padding-top: 12px;
  padding-left: 39px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--basic-red);
}

.nav-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-link-current::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -15px;

  width: 74px;

  border-bottom: 2px var(--basic-red) solid;
}

.cart::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 0;

  display: block;
  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.navigation-item > a,
.cart {
  color: var(--basic-black);
}

.slider {
  background-color: var(--basic-grey);
}

.slide-item {
  position: relative;

  display: none;

  background-color: var(--basic-grey);
}

.slide-item-show {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.slide-title {
  margin: 0;
  margin-top: 73px;
  margin-bottom: 26px;

  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slide-description {
  margin: 0;
  margin-bottom: 39px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.slide-button {
  display: block;
  box-sizing: border-box;
  width: 240px;
  padding: 17px 0 15px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--basic-red);
  border-radius: 3px;
}

.slide-information {
  margin-bottom: 80px;
}

.slide-item::after {
  position: absolute;
  content:"";
  top: -5px;
  right: 3px;

  width: 760px;
  height: 431px;

}

.slide-first::after {
  background-image: url("../img/nerds-slide-1.png");
  background-repeat: no-repeat;
}

.slide-second::after {
  background-image: url("../img/nerds-slide-2.png");
  background-repeat: no-repeat;
}

.slide-third::after {
  background-image: url("../img/nerds-slide-3.png");
  background-repeat: no-repeat;
}

.slider-container {
  position: relative;
}

.slider-controls {
  position: absolute;
  top: 73.2%;
  right: 46.9%;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  width: 88px;
}

.slider-controls .slider-button {
  position: relative;

  box-sizing: border-box;
  width: 18px;
  height: 18px;
  padding: 0;

  background-color: var(--basic-white);
  border: 2px var(--basic-white) solid;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current-button::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;

  width: 4px;
  height: 4px;

  border: 2px #c1c1c1 solid;
  border-radius: 50%;
  outline: none;
}

.products {
  width: 1160px;
  margin: 0 auto;
  padding-top: 80px;
}

.products::after {
  content: "";
  position: absolute;

  width: 1160px;
  height: 2px;

  border-bottom: 2px solid var(--basic-grey);
}

.products-list {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  position: relative;
  width: 300px;
  margin-bottom: 78px;
}

.product-item:not(:nth-child(3n)) {
  margin-right: 100px;
}

.product-website::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-1.jpg");
  background-repeat: no-repeat;
}

.product-app::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-2.jpg");
  background-repeat: no-repeat;
}

.product-presentation::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-3.jpg");
  background-repeat: no-repeat;
}

.product-button-green:hover {
  background-color: var(--green-hover);
}

.product-button-green:active {
  background-color: var(--green-active);
  color:rgba(255, 255, 255, 0.3);
}

.product-button-yellow:hover {
  background-color: var(--yellow-hover);
}

.product-button-yellow:active {
  background-color: var(--yellow-active);
  color:rgba(255, 255, 255, 0.3);
}

.product-title {
  margin: 0;
  margin-bottom: 16px;
  margin-top: 171px;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.product-description {
  margin: 0;
  margin-bottom: 32px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.product-button {
  display: block;
  box-sizing: border-box;
  width: 160px;
  padding: 17px 0 15px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;

  border-radius: 3px;
}

.product-button-red {
  background-color: var(--basic-red);
}

.product-button-green {
  background-color: var(--basic-green);
}

.product-button-yellow {
  background-color: var(--basic-yellow);
}

.about-us {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-top: 43px;
  padding-bottom: 73px;
}

.about-us-title {
  margin: 0;
  margin-top: 34px;
  margin-bottom: 33px;

  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-us-description {
  margin: 0;
  margin-bottom: 41px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.about-us-work-title {
  margin: 0;
  margin-bottom: 26px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-us-work-item {
  position: relative;

  margin-bottom: 30px;
  padding-left: 36px;
}

.about-us-work-item:last-child {
  margin-bottom: 0;
}

.about-us-work-item::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;

  width: 25px;
  height: 2px;

  border-bottom: 2px solid var(--basic-red);
}

.about-us-right-wrapper {
  width: 360px;
}

.about-us-img {
  width: 360px;
  height: 208px;
  margin-bottom: 33px;

  background-color: var(--basic-white);
}

.about-us-info-title {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 17px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.table-cell-item {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.table-header-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: start;
}

.table-parameters {
  border-spacing: 0;
}

.table {
  display: flex;
  flex-direction: column-reverse;
}

.table-cell {
  display: flex;
}

.table-header {
  display: flex;
  margin-right: auto;
}

.table-cell-item {
  position: relative;

  display: flex;
  width: 117px;
  padding: 0;
  padding-right: 1px;
  padding-bottom: 12px;
}

.table-cell-item:nth-child(1) {
  padding-right: 3px;
}

.table-header-item {
  display: flex;
  width: 120px;
  padding: 0;
}

.table-cell-item sup {
  position: absolute;

  font-size: 26px;
  line-height: 40px;
}

.table-cell-item:nth-child(1) sup {
  top: 4px;
  right: 23px;
}

.table-cell-item:nth-child(2) sup {
  top: 4px;
  right: 21px;
}

.table-cell-item:nth-child(3) sup {
  top: 4px;
  right: 47px;
}

.partners {
  width: 1160px;
  margin: 0 auto 84px;
}

.partners::before {
  content: "";
  position: absolute;

  width: 1160px;
  height: 2px;

  border-bottom: 2px solid var(--basic-grey);
}

.partners::after {
  content: "";
  position: absolute;

  width: 1160px;
  height: 2px;

  border-bottom: 2px solid var(--basic-grey);
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
}

.partners-item {
  position: relative;

  display: flex;
  align-items: center;
}

.partner-img {
  opacity: 20%;
}

.partner-img:hover {
  opacity: 100%;
}

.partner-img:active {
  opacity: 10%;
}

.partner-htmlacademy {
  margin: 67px 48px 43px 32px;
}

.partner-barbershop {
  margin: 50px 48px 38px 47px;
}

.partner-pink {
  margin: 50px 48px 38px 56px;
}

.partner-mishka {
  margin: 55px 0 38px 72px;
}

.partners-item:not(:nth-child(4))::after {
  content: "";
  position: absolute;

  height: 52px;

  border-right: 2px solid var(--basic-grey);
  opacity: 100%;
}

.partner-htmlacademy::after {
  top: 0;
  right: -50px;
}

.partner-barbershop::after {
  top: 18px;
  right: -46px;
}

.partner-pink::after {
  top: 18px;
  right: -57px;
}

.page-footer {
  width: 100%;
  margin: 0 auto;
}

.map {
  position: relative;

  height: 416px;

  background-image: url("../img/map.png");
  background-repeat: no-repeat;
}

.map iframe {
    width: 100%;
}

.map iframe {
    position: absolute;
    width: 100%;
    height: 416px;
}

.nerds-info-title {
  margin: 0;
  margin-bottom: 23px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.nerds-info-container {
  width: 1160px;
  margin: 0 auto;
}

.nerds-info {
  position: absolute;
  top: 54px;
  z-index: 2;

  width: 219px;
  padding: 49px 50px 47px;

  background-color: var(--basic-white);
}

.address,
.telephone {
  width: 201px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark);
}

.address {
  margin-bottom: 18px;
}

.write-us-button {
  display: block;
  box-sizing: border-box;
  width: 219px;
  margin-top: 37px;
  padding: 17px 44px 15px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--basic-red);
  border: 0;
  border-radius: 3px;
}

.write-us-button:hover {
  cursor: pointer;
}

.map-img {
  width: 1440px;
  height: 416px;
  margin: 0 auto;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 68px;
}

.info-wrapper {
  margin-top: 75px;
  margin-left: 130px;
}

.footer-contacts-title {
  margin: 0;
  margin-bottom: 10px;

  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-contacts-sale {
  margin: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.footer-contacts .social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 68px;
}

.soc-link {
  position: relative;

  display: block;
  width: 81px;
  height: 81px;

  margin-right: 9px;

  background-color: var(--special-grey);
  border-radius: 50%;
}

.soc-link:hover {
  background-color: var(--red-hover);
}

.soc-link:active {
  background-color: var(--red-active);
}

.soc-link:active>img{
  opacity: 30%;
}

.vk {
  position: absolute;
  top: 33px;
  right: 28px;

  width: 26px;
  height: 15px;
}

.facebook {
  position: absolute;
  top: 31px;
  right: 34px;

  width: 12px;
  height: 22px;
}

.inst {
  position: absolute;
  top: 30px;
  right: 30px;

  width: 21px;
  height: 21px;
} 

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-write-us {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  display: none;
  flex-wrap: wrap;
  width: 960px;
  height: 590px;
  margin: auto;

  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-show {
  display: flex;

  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.write-us-form {
  padding: 0 90px;
  margin-top:152px;
}

.write-us-input,
.write-us-textarea {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.wrapper-textarea{
  margin-bottom: 47px;
}

.write-us-label {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.form-input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.wrapper-column {
  display: flex;
  flex-direction: column;
}

.write-us-textarea {
  width: 720px;
  margin-top: 10px;
  padding: 14px 19px 62px;

  border: 2px #d7dcde solid;

  resize: none;
}

.modal-title {
  position: absolute;
  margin: 0;
  margin-left: 92px;
  margin-top: 62px;
  height: 45px;

  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.write-us-input {
  width: 340px;
  margin-top: 10px;
  padding: 14px 0 13px 18px;

  border: 2px #d7dcde solid;
  border-radius: 3px;
}

.write-us-input::-webkit-input-placeholder, .write-us-textarea::-webkit-input-placeholder{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.write-us-input::-moz-placeholder, .write-us-textarea::-moz-placeholder{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.write-us-input::placeholder,
.write-us-textarea::placeholder{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.write-us-input:hover::-webkit-input-placeholder,
.write-us-textarea:hover::-webkit-input-placeholder {
  color: #b4b9bb;

  border-color: #b4b9bb;
}

.write-us-input:hover::-moz-placeholder,
.write-us-textarea:hover::-moz-placeholder {
  color: #b4b9bb;

  border-color: #b4b9bb;
}

.write-us-input:hover::-webkit-input-placeholder, .write-us-textarea:hover::-webkit-input-placeholder {
  color: #b4b9bb;

  border-color: #b4b9bb;
}

.write-us-input:hover::-moz-placeholder, .write-us-textarea:hover::-moz-placeholder {
  color: #b4b9bb;

  border-color: #b4b9bb;
}

.write-us-textarea:hover,
.write-us-input:hover,
.write-us-input:hover::placeholder,
.write-us-textarea:hover::placeholder {
  color: #b4b9bb;

  border-color: #b4b9bb;
}

.write-us-input-invalid {
  border: 2px var(--red-hover) solid;

  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.write-us-input-invalid::-webkit-input-placeholder {
  color: var(--red-hover);
}

.write-us-input-invalid::-moz-placeholder {
  color: var(--red-hover);
}

.write-us-input-invalid::placeholder {
  color: var(--red-hover);
}

.write-us-textarea:focus,
.write-us-input:focus {
  border: 2px var(--basic-black) solid;
  outline: none;
}

.write-us-input:focus::-webkit-input-placeholder,
.write-us-textarea:focus::-webkit-input-placeholder {
  color: var(--basic-black);
}

.write-us-input:focus::-moz-placeholder,
.write-us-textarea:focus::-moz-placeholder {
  color: var(--basic-black);
}

.write-us-input:focus::-webkit-input-placeholder, .write-us-textarea:focus::-webkit-input-placeholder {
  color: var(--basic-black);
}

.write-us-input:focus::-moz-placeholder, .write-us-textarea:focus::-moz-placeholder {
  color: var(--basic-black);
}

.write-us-input:focus::placeholder,
.write-us-textarea:focus::placeholder {
  color: var(--basic-black);
}


.write-us-form .button {
  position: relative;
  z-index: 1;

  display: block;
  width: 260px;
  margin-top: 10px;
  margin-left: 2px;
  padding: 17px 0 15px;
  border-radius: 3px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--basic-red);
  border: none;
}

.write-us-form .button:hover {
  background-color: var(--red-hover);
  outline: none;
  cursor: pointer;
}

.write-us-form .button:active {
  background-color: var(--red-active);
  outline: none;
  cursor: pointer;
}

.write-us-form .button:focus {
  outline: none;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;

  width: 21px;
  height: 21px;

  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 86px;
  right: 96px;
  width: 26px;

  height: 4px;

  background-color: var(--basic-red);
  opacity: 30%;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:focus::before,
.modal-close:hover::after,
.modal-close:focus::after {
  outline: none;
  cursor: pointer;
  opacity: 100%;
}

.modal-close:active::before,
.modal-close:active::after {
  outline: none;
  cursor: pointer;
  opacity: 10%;
}

.catalog-title-wrapper {
  width: 100%;
  margin-bottom: 55px;

  background-color: var(--basic-grey);
}

.catalog-title {
  width: 1160px;
  margin: 0;
  margin: 0 auto;
  padding: 73px 0 108px;

  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-title {
  margin-bottom: 15px;
}

.filter-grid {
  margin-bottom: 29px;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  margin-left: 10px;
  padding: 10px;

  font-size: inherit;
  font-family: inherit;
  text-align: center;
  color: #283136;

  background: #f1f1f1;
  border: none;
  border-radius: 5px;
}

.filters {
  width: 180px;
}

.filter legend {
  position: relative;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-button {
  width: 260px;
  padding: 17px 0 15px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: var(--basic-grey);
  border: 0;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  ;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 45px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.filter-option label {
  position: relative;
  top: 2px;
  left: -3px;

  display: block;

  cursor: pointer;

  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.filter-price {
  margin-bottom: 53px;
}

.filter-features {
  margin-bottom: 35px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -42px;

  width: 19px;
  height: 19px;

  border: 2px solid #4d4d4d;
  border-radius: 2px;
  opacity: 40%;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -38px;

  width: 20px;
  height: 17px;

  background-image: url("../img/shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 40%;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -42px;

  width: 17px;
  height: 17px;

  border: 4px solid rgba(77, 77, 77, 1);
  border-radius: 50%;
  opacity: 40%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -34px;

  width: 9px;
  height: 9px;

  background-color: rgba(77, 77, 77, 1);
  border-radius: 50%;
  opacity: 40%;
}

.filter-input-checkbox:focus + label,
.filter-input-radio:focus + label {
  color: var(--basic-yellow);
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:hover::after,
.filter-input-radio + label:hover::before,
.filter-input-radio + label:hover::after,
.filter-input-radio + label:focus::before,
.filter-input-radio + label:focus::after {
  opacity: 100%;
}

.filter-input-checkbox:disabled + label,
.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label,
.filter-input-radio:disabled + label::after {
  opacity: 10%;
}

.filter-input:focus {
  outline: var(--basic-white);
}

.catalog-container {
  display: grid;
  width: 1160px;
  margin: 0 auto;

  grid-column-gap: 140px;
  grid-template-columns: 260px 1fr;
}

.sorting-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.sorting-title {
  margin: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sorting-wrapper .sorting-list,
.button-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}


.sorting-item,
.button-item {
  display: flex;
  align-items: center;
  margin-right: 25px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.button-item:first-child {
  margin-right: 18px;
  margin-left: 22px;
}

.button-item:nth-child(2) {
  margin-right: 0;
}

.sorting-item:hover {
  color: rgba(0, 0, 0, 0.6);

  cursor: pointer;
}

.sorting-item:active {
  color: rgba(0, 0, 0, 1);

  cursor: pointer;
}

.sorting-current {
  color: var(--basic-black);
}

.sorting-button:not(:last-child) {
  margin-left: 22px;
}


.sorting-button:last-child {
  margin-left: 18px;
}

.sorting-button {
  display: flex;
  align-items: center;
}

.button-down {
  width: 11px;
  height: 10px;

  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  opacity: 10%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.button-up {
  width: 11px;
  height: 10px;

  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  opacity: 10%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.button-down:hover,
.button-up:hover,
.button-down:focus,
.button-up:focus {
  outline: none;
  opacity: 40%;
}

.button-down:active,
.button-up:active {
  outline: none;
  opacity: 100%;
}

.sorting-button-current {
  opacity: 100%;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.cards-container {
  display: grid;

  grid-column-gap: 40px;
  grid-row-gap: 30px;
  grid-template-columns: 360px 360px;
}

.card {
  position: relative;

  width: 360px;

  background-color: var(--basic-white);
  border-radius: 5px;
}

.card-img {
  margin-top: -4px;

  border-right: 1px solid var(--basic-white);
  border-left: 1px solid var(--basic-white);
}

.card-svg {
  opacity: 12%;
}

.card-info {
  position: absolute;
  bottom: -4px;

  display: flex;
  flex-direction: column;
  width: 360px;

  line-height: 0;

  background-color: var(--basic-grey);
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
  border-bottom-left-radius: 3px; 
  border-bottom-right-radius: 3px; 
  visibility: hidden;
}

.card:hover > .card-info {
  visibility: visible;
}

.card:hover > .card-svg {
  opacity: 100%;
}

.card-title {
  margin: 0;
  margin-top: 29px;
  margin-bottom: 12px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.card-link:hover {
  color: var(--basic-red);

  cursor: pointer;
}

.card-link:active {
  color: rgba(0, 0, 0, 0.3);

  cursor: pointer;
}

.card-link {
  color: var(--basic-black);
}

.card-description {
  margin: 0 auto;
  margin-bottom: 33px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.card-price-button {
  box-sizing: border-box;
  margin: 0 auto 50px;
  padding: 17px 73px 15px 72px;
  border-radius: 3px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--basic-red);
}

.card-pagination {
  display: flex;
  align-items: center;
  margin-top: 65px;
  margin-bottom: 75px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
}

.pagination-button {
  box-sizing: border-box;
  margin-right: 11px;
  padding: 17px 20px 15px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;

  background-color: var(--basic-grey);
  border-radius: 3px;
}

.pagination-button:hover {
  background-color: #dfdfdf;
}

.pagination-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.pagination-current {
  padding: 14px 17px 12px;

  background-color: var(--basic-white);
  border: 3px var(--basic-grey) solid;
}

.pagination-current:hover {
  background-color: #dfdfdf;
  border: #dfdfdf;
}

.pagination-current:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  border: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.next-page {
  padding: 17px 78px 15px;
}

.button:hover {
  background-color: var(--red-hover);
  cursor: pointer;
}

.button:active {
  background-color: var(--red-active);
  cursor: pointer;
  color:rgba(255, 255, 255, 0.3);
}